.chat-list {
  width: 350px;
  height: 100%;

  &__container {
    overflow-x: hidden;
    background-color: #fff;
    border-right: 1px solid grey;
    position: relative;
    max-width: 100vw;

    @media screen and (max-width: 756px) {
      flex-grow: 1;
      max-width: 100%;
      transition: 0.2s;
    }
    &--hide {
      max-width: 0;
      transition: 0.2s;
    }
  }
}
