@mixin hide-scroll-bar {
  &::-webkit-scrollbar {
    display: none;
  }
  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@mixin active-styles() {
  &:not(.disabled):not(:disabled) {
    &:active,
    &.active,
    &:focus {
      @content;
    }
    @media (hover: hover) {
      &:hover {
        @content;
      }
    }
  }
}

@mixin stack {
  display: flex;
  flex-direction: column;
}

@mixin custom-scrollbar {
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
    position: absolute;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    // background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
