.d-flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.jc-center {
  justify-content: center;
}
.ai-center {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
