@use 'sass:color';

$color-primary: rgb(51, 144, 236);
$color-error: red;
$black: black;
$light-green: #99ba92;
$gray: rgb(153, 153, 153);
$light-gray: rgb(244, 244, 245);
$white: #fff;

:root {
  --html-font-size: 10px;

  //Colors

  --black: #{$black};
  --white: #{$white};
  --gray: #{$gray};
  --color-primary: #{$color-primary};
  --color-error: #{$color-error};
  --rgb-black: 0, 0, 0;
  --green: green;

  --color-primary-shade: #{color.mix($color-primary, black, 92%)};
  --color-error-shade: #{color.mix($color-error, black, 92%)};

  //Break-points;

  --sx: 38rem;
  --sm: 54rem;
  --md: 90rem;
  --lg: 110rem;

  // Elements colors
  --left-color: #{$white};
  --center-bgc-light: #{$light-green};
  --right-color: #{$light-green};
  --bgc-theme: #{$white};
  --search-input-border-color: transparent;
  --search-input-border-color-focused: $color-primary;
  --serach-input-color: #{$gray};
  --search-input-bgc: #{$light-gray};
  --bg-color-light: var(--white);
  --not-selected-chat-bg: rgba(255, 255, 255, 0.1);
  --layout-border-color: rgba(154, 154, 154, 0.7);
  --text-color-primary: #fff;

  --chat-bg-pattern: url('../assets/chat-bg-pattern-light.png');

  // Elements sizes
  --left-width: 40rem;
  --header-height: 5rem;

  //Transitions
  --layout-transition: 0.3s cubic-bezier(0.33, 1, 0.68, 1);

  //Z-indexes

  //Border radiuses
  --br-default: 0.8rem;
  --search-input-border-radius: 1.5rem;

  //Shadows

  --center-header-shadow: 0 0.4rem 0.4rem -0.2rem rgba(0, 0, 0, 0.5);
}
