@use 'src/styles/mixins' as mixins;

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border-radius: var(--br-default);
  padding: 0.8rem 1.6rem;
  transition: 0.1s;
  min-width: 4rem;
  height: 100%;
  font-weight: 500;
  @include mixins.active-styles {
    background: rgba(0, 0, 0, 0.05);
  }
  --ripple-color: rgba(0, 0, 0, 0.15);
  &--round {
    border-radius: 50%;
  }
  &--primary {
    background: var(--color-primary);
    color: var(--text-color-primary);
    @include mixins.active-styles {
      background-color: var(--color-primary-shade);
    }
  }
  &--error {
    background: var(--color-error);
    color: var(--text-color-primary);
    @include mixins.active-styles {
      background-color: var(--color-error-shade);
    }
  }

  &--full-width {
    width: 100%;
  }
}
