.AddToFolderModal {
  padding: 2.5rem;
  border-radius: var(--br-default);
  min-width: 350px;
  font-size: 1.4rem;

  &-title {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  &-folders {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  &-folder {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  &-addFolder {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
  }
}
