.center {
  background-color: var(--center-color);
  flex-grow: 1;
  &-header {
    display: flex;
    align-items: center;
    background-color: var(--bg-color-light);
    padding: 0.9rem 1.8rem;
    padding-left: 0.6rem;
  }
  @media (max-width: 900px) {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    transition: var(--layout-transition);
  }
  @media (max-width: 540px) {
    width: 100%;
  }
}

.activechat {
  &-info {
    display: flex;
    max-height: 100%;
    gap: 0.6rem;
    flex-grow: 1;
    cursor: pointer;
    margin-left: 0.8rem;
  }
  &-title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  &-status {
    font-size: 1.3rem;
    color: rgb(154, 154, 154);
  }
  &-tools {
    display: flex;
    gap: 0.5rem;
  }
}
